# Temporary files
*~

# Submodule builds
deps/sundials-install
deps/gkyl-install

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
gk_diffusion_1x1v_p1
test_nvector_gkylzero

# Build folder
build

# Python virtual environment
.venv

# VS Project files
.vscode

# GkylZero example output files
*.gkyl

# Installed test folder
bin/

# Output file
*.csv

# Local scripts
local_scripts